<section id="times">
	<header class="snw-stoptime-header">
		<div class="snw-stoptime-left">
			Departs
		</div>
		<div class="snw-stoptime-right">
			Arrives
		</div>
	</header>
	<ul class="snw-stoptimes">
		<% @stop_times.each do |st| %>
		<li class="snw-stoptime">
			<div class="snw-stoptime-left">
				<time datetime="<%=st["departure_stop_time"].departure_time %>"><%=st["departure_time"].to_formatted_s(:display_time) %></time>
				<span>(<%=st["from_now"] %>)</span>
			</div>
			<div class="snw-stoptime-right">
				<time datetime="<%=st["arrival_stop_time"].departure_time %>"><%=st["arrival_time"].to_formatted_s(:display_time) %></time>
			</div>
		</li>
		<% end %>
	</ul>
</section>