<h2 class="nxs-section nxs-route-type-<%=@route_type %> nxs-route-<%=@route_id.downcase %>">
	<a href="<%="/#{@route_type}/#{@route_id}" %>"><span class="nxs-routelabel"><%=@route.route_short_name %></span> | </a>
	<a href="<%="/#{@route_type}/#{@route_id}/#{@direction_id}" %>" class="nxs-routedirection">
		<%=@direction.direction_name %>
		<% if(@direction.direction_long_name != nil) %>
		<span class="nsx-section-sub">To: <%=@direction.direction_long_name %></span>
		<% end %>
	</a>
</h2>
<h3 class="nxs-section nxs-section-instruction nxs-stoptimes-stopnames s-cols">
	<div class="s-col s-col-1of2 nxs-stoptimes-stopnames-left">
		<a href="<%="/#{@route_type}/#{@route_id}/#{@direction_id}/#{@from.stop_id}" %>">
			<%=@from.stop_name %>
		</a>
		<p>From</p>	
	</div>
	<% if(@to != nil) %>
	<div class="s-col nxs-stoptimes-stopnames-switch">
		<a href="<%="/#{@route_type}/#{@route_id}/" + (@direction_id.to_i - 1).abs.to_s + "/#{@to.stop_id}/#{@from.stop_id}" %>" title="Reverse Stations"></a>
	</div>
	<% end %>
	<div class="s-col s-col-last nxs-stoptimes-stopnames-right">
		<a href="<%="/#{@route_type}/#{@route_id}/#{@direction_id}/#{@from.stop_id}/choose" %>">
			<%=(@to == nil ? "choose" : @to.stop_name) %>
		</a>
		<p>To</p>
	</div>
</h3>
<section id="times" data-route="<%=@route_id %>">
	<header class="nxs-stoptime-header">
		<div class="nxs-stoptime-left">
			Departs
		</div>
		<% if @to != nil %>
		<div class="nxs-stoptime-right">
			Arrives
		</div>
		<% end %>
	</header>
	<ul class="nxs-stoptimes">
		<% @stop_times.each do |st| %>
		<li class="nxs-stoptime" data-block="<%=st["block_id"]%>">
			<div class="nxs-stoptime-left<%=" nxs-stoptime-nodest" if st["arrival_stop_time"] == nil %>">
				<time datetime="<%=st["departure_time"].to_formatted_s(:display_iso_time) %>"><%=st["departure_time"].to_formatted_s(:display_time) %></time>
				<span data-time="<%=st["departure_time"] %>">(<%=st["from_now"] %>)</span>
			</div>
			<% if(st["arrival_stop_time"] != nil) %>
			<div class="nxs-stoptime-right">
				<time datetime="<%=st["arrival_time"].to_formatted_s(:display_iso_time) %>"><%=st["arrival_time"].to_formatted_s(:display_time) %></time>
			</div>
			<% end %>
			<div class="nxs-stoptime-aside"></div>
		</li>
		<% end %>
	</ul>
</section>