<% if(@routes.count > 20) %>
<div class="nxs-section nxs-quicknav">
	<ul class="">
		<li><a href="#20">20</a></li>
		<li><a href="#30">30</a></li>
		<li><a href="#40">40</a></li>
		<li><a href="#50">50</a></li>
		<li><a href="#60">60</a></li>
		<li><a href="#70">70</a></li>
		<li><a href="#80">80</a></li>
		<li><a href="#90">90</a></li>
		<li><a href="#103">100</a></li>
		<li><a href="#201">more</a></li>
	</ul>
</div>
<% end %>
<ul id="routes" class="nxs-items nxs-resize">
	<% @routes.each do |r| %>
	<li class="nxs-section nxs-route nxs-route-<%=@route_type %>">
		<% if(r.route_short_name[0] != @route_letter) %>
		<% @route_letter = r.route_short_name[0] %>
		<a name="<%=r.route_short_name %>" class="nxs-items-anchor" />
		<% end %>
		<a href="/<%=params[:route_type] + "/" + r.slug %>" class="nxs-nav-link">
			<% if !r.is_rail? %>
			<span class="nxs-section-prefix"><%=r.route_short_name %></span>
			<% end %>
			<%=r.route_long_name %>
		</a>
	</li>
	<% end %>
</ul>