<!DOCTYPE html>
<html>
<head>
  <title>NEXT&rarr;Septa</title>
  <meta content="width=device-width,minimum-scale=1,maximum-scale=1" name="viewport">
  <%= stylesheet_link_tag 'webapp-reset', 'main' %>
  <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="/stylesheets/mobile.css" />
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
		<hgroup id="header" class="snw-choose-<%=@header_choose %>">
			<h1 class="snw-section"><a href="/">NEXT&rarr;Septa</a></h1>
			<% if(@header_2 != nil) %>
			<h2 class="snw-section<%=(' snw-route-type-' + @route_type if @route_type) %><%=(' snw-route-' + @route_id.downcase if @route_id)%>">
				<% if(@header_2_path != nil) %>
				<a href="<%=@header_2_path %>"><%=@header_2 %></a>
				<% else %>
				<%=@header_2 %>
				<% end %>
			</h2>
			<% end %>
			<% if(@header_3 != nil) %>
			<h3 class="snw-section">
				<% if(@header_3_path != nil) %>
				<a href="<%=@header_3_path %>"><%=@header_3 %></a>
				<% else %>
				<%=@header_3 %>
				<% end %>
			</h3>
			<% end %>
			<% if(@header_4 != nil) %><h4 class="snw-section"><a href="<%=@header_4_path%>"><%=@header_4 %></a></h4><% end %>
		</hgroup>
		<%= yield %>
		<% if(params[:route_type] != nil) %>
		<footer id="footer">
			<ul>
				<li><a href="/subways" class="snw-section">Subways</a></li>
				<li><a href="/buses" class="snw-section">Buses</a></li>
				<li><a href="/trolleys" class="snw-section">Trolleys</a></li>
				<li><a href="http://isepta.org" class="snw-section" target="_blank">Trains</a></li>
			</ul>
		</footer>
		<% end %>
	</div>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25696441-1']);
	  _gaq.push(['_setDomainName', '.nextsepta.com']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>