<!DOCTYPE html>
<html>
<head>
  <title>NEXT&rarr;Septa | Next Stop Times for SEPTA Buses, Subways and Tolleys</title>
  <meta content="width=device-width,minimum-scale=1,maximum-scale=1" name="viewport">
  <%= stylesheet_link_tag 'webapp-reset', 'sour', 'main' %>
  <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="/stylesheets/mobile.css" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/images/nxs-logo.png" />
  <%= javascript_include_tag 'jquery.min.js', 'nextsepta' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
		<hgroup id="header" class="nxs-choose-<%=@header_choose %>" data-role="header">
			<h1 class="nxs-section"><a href="/">NEXT&rarr;Septa<span>beta</span></a><a id="header-info" href="/info" class="s-corner-all-4">info</a></h1>
			<% if(@header_2 != nil) %>
			<h2 class="nxs-section<%=(' nxs-route-type-' + @route_type if @route_type) %><%=(' nxs-route-' + @route_id.downcase if @route_id)%>">
				<% if(@header_2_path != nil) %>
				<a href="<%=@header_2_path %>"><%=@header_2 %></a>
				<% else %>
				<%=@header_2 %>
				<% end %>
			</h2>
			<% end %>
			<% if(@header_3 != nil) %>
			<h3 class="nxs-section">
				<% if(@header_3_path != nil) %>
				<a href="<%=@header_3_path %>"><%=@header_3 %></a>
				<% else %>
				<%=@header_3 %>
				<% end %>
			</h3>
			<% end %>
			<% if(@header_4 != nil) %><h4 class="nxs-section"><a href="<%=@header_4_path%>"><%=@header_4 %></a></h4><% end %>
		</hgroup>
		<div id="content" data-role="content" data-type="<%=@route_type%>" data-route="<%=@route_id%>" data-direction="<%=@direction_id%>" data-from="<%=(@from.stop_id if @from != nil)%>" data-to="<%=(@to.stop_id if @to != nil)%>">
		<%= yield %>
		</div>
		<% if(params[:route_type] != nil) %>
		<footer id="footer" class="nxs-routetype-<%=params[:route_type]%>" data-role="footer">
			<ul class="s-cols">
				<li class="s-col s-col-1of4 nxs-section nxs-footer-subways"><a href="/subways" class="s-corner-all">Subways</a></li>
				<li class="s-col s-col-1of4 nxs-section nxs-footer-buses"><a href="/buses" class="s-corner-all">Buses</a></li>
				<li class="s-col s-col-1of4 nxs-section nxs-footer-trolleys"><a href="/trolleys" class="s-corner-all">Trolleys</a></li>
				<li class="s-col s-col-last nxs-section nxs-footer-trains"><a href="http://isepta.org" class="s-corner-all" target="_blank">Trains</a></li>
			</ul>
		</footer>
		<% end %>
	</div>
	<div id="subfooter">
		<span id="follow"><a href="http://twitter.com/nextsepta">@nextsepta</a></span>
		<span id="madeby">made by <a href="http://twitter.com/reedlauber">@reedlauber</a></span>
	</div>
	<script>
		$(function() {
			NextSepta.Manager({
				components: {
					stops: NextSepta.Stops()
				}
			}).init();
		});
	</script>
	<script>
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25696441-1']);
	  _gaq.push(['_setDomainName', '.nextsepta.com']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>